.App-header {
  height: 30vh;
  display: flex;
  align-items: center;
  color: #e0354b;
  border-bottom: 3px solid #e0354b;
}

.App-header img {
  height: 140px; 
}

.App-header h1 {
  font-size: 1.6rem;
}

.App-body {
  height: 50vh;
  padding: 2em;
  font-size: .8rem;
}

.App-footer {
  text-align: center;
  font-size: .8rem;
  border-top: 2px solid #e0354b;
}